<%- include("./header") %> 
<%- include("./navbar") %> 
<div class="container space">
    <h1>Something error occurred</h1>
    <br>
    <%- include("./flash") %> 
</div>


<%- include("./footer") %> 

