body{
    background-color: lightgreen;
}
.showimg{
   width:100%;
   height: auto;
}
.lavish{
    margin: 10px auto;
}
.nee{
    margin-left: 250px;
    margin-top: 10px;
}
.space{
    margin-top: 70px;
}